bin
build
include
lib
man
local
.Python
*.pyc

django-cloudlaunch/cloudlaunch/settings_local.py
django-cloudlaunch/db.sqlite3
django-cloudlaunch/cloudlaunch/db.sqlite3

.idea

docs/_build/

*.DS_Store
