bin
build
include
lib
man
local
.Python
*.pyc

django-cloudlaunch/cloudlaunchserver/settings_local.py
django-cloudlaunch/db.sqlite3*
django-cloudlaunch/cloudlaunch.log
django-cloudlaunch/cloudlaunchserver/db.sqlite3
django-cloudlaunch/baselaunch/backend_plugins/rancher_ansible*

.idea

docs/_build/

*.DS_Store
/venv/
/.tox/

codecloud.html
dump.rdb
.vscode/

