bin
build
include
lib
man
local
.Python
*.pyc

django-cloudlaunch/cloudlaunchserver/settings_local.py
db.sqlite3*
cloudlaunch*.log
cloudlaunch-django.log
django-cloudlaunch/.coverage
django-cloudlaunch/cloudlaunch_server.egg-info

.idea

docs/_build/

*.DS_Store
/venv/
/.tox/

codecloud.html
dump.rdb
.vscode/