Django==1.9
djangorestframework==3.3.1
wheel==0.24.0
django-rest-auth>=0.6.0
django-allauth>=0.24.1
drf-nested-routers>=0.11.1
git+git://github.com/gvlproject/cloudbridge
django-model-utils>=2.4
django-celery>=3.1.17
django-fernet-fields==0.4
django-cors-headers>=1.1.0
django-nested-admin