Django==2.0

# Celery
celery>=4.1
django-celery-results>=1.0.1 # celery results backend which uses the django DB
django-celery-beat>=1.1.0 # celery background task monitor which uses the django DB
redis # As celery message broker during development

# DRF
djangorestframework==3.7.3
django-rest-auth>=0.9.1 # login support for DRF through restful endpoints
django-allauth>=0.34.0 # pluggable social auth for django login
drf-nested-routers>=0.90.0 # Provides nested routing for DRF
django-filter>=1.1.0 # For DRF filtering by querystring
coreapi==2.2.3 # Provides REST API schema

# Cloudbridge
git+git://github.com/gvlproject/cloudbridge#egg=cloudbridge
git+git://github.com/CloudVE/djcloudbridge#egg=djcloudbridge

# Django
# django-model-utils>=3.1.1 # Provides better inheritance support for django models
git+git://github.com/jazzband/django-model-utils@3.1.1#egg=django-model-utils # https://github.com/jazzband/django-model-utils/issues/304
django-fernet-fields==0.5 # for encryption of user credentials
django-cors-headers>=2.1.0 # Middleware for automatically adding CORS headers to responses
django-nested-admin>=3.0.21 # for nested object editing in django admin
# django-smart-selects>=1.5.2 # For dependencies between key fields in django admin
git+git://github.com/CloudVE/django-smart-selects@django_2_upgrade#egg=django-smart-selects # Use fork till Django 2 support is merged
psycopg2 # postgres database driver

# Production Django
gunicorn

# Public appliances
django-countries>=5.0 # Used by public_appliances for retrieving country data

# Misc
bioblend # For the CloudMan launcher
jsonmerge>=1.4.0 # For merging userdata/config dictionaries
