import os

PROJECT_ROOT = os.path.realpath(os.path.dirname(__file__))

DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
            'NAME': os.path.join(PROJECT_ROOT, 'db', 'db.sqlite'), # Or path to database file if using sqlite3.
            'USER': '',     # Not used with sqlite3.
            'PASSWORD': '', # Not used with sqlite3.
            'HOST': '',     # Set to empty string for localhost. Not used with sqlite3.
            'PORT': '',     # Set to empty string for default. Not used with sqlite3.
        }
    }

# Set this absolute path then run: python biocloudcentral/manage.py collectstatic
STATIC_ROOT = '/srv/cloudlaunch/media'
# No need to change STATICFILES_DIRS unless you are serving static content
# from multiple locations. In that case, append the additional paths and
# update URL pattern(s) in `urls.py` to make sure the regex is matched.
# Note that STATICFILES_DIRS variable needs to be set after STATIC_ROOT.
STATICFILES_DIRS = (STATIC_ROOT,)

#
# App-specific settings (i.e., not Django-related)
#

# Page title and brand text
BRAND = "Cloud Launch"

# Whether to add an email field to the form and make it required or optional.
ASK_FOR_EMAIL = False
REQUIRE_EMAIL = False
