body {
    color: #333;
}

/* Header */
div.banner {
    padding: 10px 10px 35px 25px;
}

h2.banner {
    margin-bottom: 3px;
}

/* Specialized text */
div.error {
    background: #C99;
    font-style: italic;
    padding: 1px;
}

div.about {
    padding: 10px 10px 35px 25px;
    border-top: 1px solid;
    width: 725px;
    text-align: justify;
}

div.awserror {
    width: 740px;
    padding-left: 5px;
    margin-top: -15px;
    margin-left: 25px;
    margin-bottom: 25px;
}

div.help {
    background: #FFC;
    border: 1px solid;
    border-color: #EEE;
    padding: 1px;
    width: 345px;
}

div.label {
    padding: 1px;
    width: 100px;
}

.form-row {
    padding: 0 0 15px 25px;
}
a {
    color: #933;
}

/* Table */
table {
    margin-top: -15px;
    margin-left: 10px;
}

td {
    padding: 15px 0 0 15px;
}

div.submit {
    padding: 0 0 25px 25px;
}
.refresh_cont {
    float: right;
}
.refresh_link {
    background-image: url("../images/refresh.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}
