/* Header */
div.banner {
    padding: 10px 10px 35px 25px;
}

h2.banner {
    margin-bottom: 3px;
}

/* Specialized text */
div.info {
    background: #FFC;
    border: 1px solid;
    border-color: #EEE;
    padding: 1px;
    width: 400px;
    margin-left: 15px;
    margin-top: -25px;
}

a {
    color: #933;
}

a.button {
 background: none repeat scroll 0 0 #EEEEEE;
 border: 1px solid #AAAAAA;
 color: #333333;
 cursor: pointer;
 display: inline-block;
 font-weight: bold;
 line-height: 25px;
 margin-left: 15px;
 text-decoration: none;
 padding: 0 5px;
}
a.button:hover {
 background: none repeat scroll 0 0 #DDDDDD;
}
a.button:active {
 background: none repeat scroll 0 0 #AAAAAA;
 color: white;
}

/* Table */
table.awstable {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.awstable {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  color: #000;
}

.awstable th, .awstable td {
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #2C3143;
}
