<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/formalize.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/launch.css" />
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.formalize.js"></script>
  <title>BioCloudCentral</title>
  <script>
    var csrf_token;
    function get_instance_types(cloud_id) {
        $.post("{% url inst_types %}",
            {'cloud_id': cloud_id,
             csrfmiddlewaretoken: csrf_token},
            function(data) {
                if (data.instance_types.length > 0) {
                    var types = '';
                    for (var i=0; i<data.instance_types.length; i++) {
                        types += '<option value="' + data.instance_types[i][0] + '">'
                            + data.instance_types[i][1] + "</option>";
                    }
                    $('#id_instance_type').html(types);
                    $('#id_instance_type').removeAttr('disabled');
                } else {
                    $('#id_instance_type').attr('disabled', 'disabled');
                    $('#id_instance_type').html("<option>Choose cloud type first</option>");
                }
            });
    }
    $(document).ready(function() {
        // Along with this, must add a macthing csrf_token in the body
        csrf_token = $('#csrf_token >div >input').attr("value");
        
        // Get instance types for the selected cloud on page load
        // This also keeps the instance types selected after a submission
        // of the form with errors
        get_instance_types($("#id_cloud option:selected").val());
        
        // Toggle advanced startup options
        $('#toggle_advanced_startup_options').click(function(){
            if ($('#advanced_startup_options').is(":visible")){
                $('#advanced_startup_options').hide();
                $('#toggle_advanced_startup_options').text('Show advanced startup options');
            }else{
                $('#advanced_startup_options').show();
                $('#toggle_advanced_startup_options').text("Hide advanced options");
            }
        });
    });
  </script>
</head>

<div class="banner">
  <h2 class="banner">BioCloudCentral</h2>
  Easily launch <a href="http://usecloudman.org">CloudMan</a>,
  <a href="http://cloudbiolinux.org">CloudBioLinux</a> and Galaxy
  platforms on Cloud Computing resources (including the
  <a href="http://aws.amazon.com/">Amazon Web Services</a>).
</div>

{% if form.non_field_errors|length > 0 %}
  <div class="awserror error">Cloud connection problem: <br/>
    {{ form.non_field_errors }}
  </div>
{% endif %}

<form action="/launch" method="post">{% csrf_token %}
  <table>
  {% for field in form %}
    {% if field.field.required %}
        <tr>
          <td><div class="label">{{ field.label_tag }}</div></td>
          <td>{{ field }}</td>
          <td> {% for error in field.errors %}
                 <div class="error">{{ error }}</div>
               {% endfor %}
          </td>
          <td><div class="help">
              {% autoescape off %}
              {{ field.help_text }}
              {% endautoescape %}
          </div></td>
        </tr>
    {% endif %}
  {% endfor %}
    {# Add the not required fields as the advanced startup options #}
    {% for field in form %}
      {% if not field.field.required %}
        <tr id="advanced_startup_options" style="display:none">
              <td><div class="label">{{ field.label_tag }}</div></td>
              <td>{{ field }}</td>
              <td> {% for error in field.errors %}
                     <div class="error">{{ error }}</div>
                   {% endfor %}
              </td>
              <td><div class="help">
                  {% autoescape off %}
                  {{ field.help_text }}
                  {% endautoescape %}
              </div></td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  <div id="toggle_advanced_startup_options_cont" class='form-row'>
      <a id='toggle_advanced_startup_options' href="#">
          Show advanced startup options
      </a>
  </div>
  <div class="submit">
    <input type="submit" value="Start an instance" />
  </div>
</form>

<div class="about">
<p>
This website is an open service developed by the
<a href="http://cloudbiolinux.org">CloudBioLinux</a> and
<a href="http://usecloudman.org">CloudMan</a>
communities. The goal is to make it easy to get started doing
scalable biological analysis on cloud resources. See 
<a href="http://bcbio.wordpress.com/2011/11/29/making-next-generation-sequencing-analysis-pipelines-easier-with-biocloudcentral-and-galaxy-integration/">this guide</a>
for a detailed usage example when using the Amazon cloud. The
<a href="https://github.com/chapmanb/biocloudcentral">open source code</a>
is available on GitHub.
</p>
<p>
    This site can be used for any of the available clouds.
    Note that you must have appropriate credentials for the
    chosen cloud. If a desired cloud is not available and 
    you would like to see it there, please 
    <a href="mailto:cloudbiolinux@googlegroups.com">contact us</a>.
</p>
<p>
Launching servers on the Amazon cloud will incur
<a href="http://aws.amazon.com/ec2/#pricing">usage fees</a>
from Amazon for their resources. By using this service you acknowledge your
sole responsibility for any costs accrued.
</p>
<div id="csrf_token" style='display:none'>{% csrf_token %}</div>
</div>
