{% extends "base.html" %}
{% block extra_head %}
  <script>
    var csrf_token;
    function get_dynamic_fields(cloud_id) {
        $.post("{% url dynamic_fields %}",
            {'cloud_id': cloud_id,
             csrfmiddlewaretoken: csrf_token},
            function(data) {
                if (data.instance_types.length > 0) {
                    var types = '';
                    for (var i=0; i<data.instance_types.length; i++) {
                        types += '<option value="' + data.instance_types[i][0] + '">'
                            + data.instance_types[i][1] + "</option>";
                    }
                    $('#id_instance_type').html(types);
                    $('#id_instance_type').removeAttr('disabled');
                } else {
                    $('#id_instance_type').attr('disabled', 'disabled');
                    $('#id_instance_type').html("<option>Choose cloud type first</option>");
                }
                if (data.image_ids.length > 0) {
                    var ids = '';
                    for (var i=0; i<data.image_ids.length; i++) {
                        // Ensure the default image is initially selected
                        // The assumption here is that the default image is marked
                        // as having '*' character in the description field (this
                        // char is automatically added in views.py->dynamicfields)
                        var selected = '';
                        if (data.image_ids[i][1].indexOf('*') > -1) {
                            selected = 'selected="selected"';
                        }
                        ids += '<option value="' + data.image_ids[i][0] + '" ' + selected + '>'
                            + data.image_ids[i][1] + "</option>";
                    }
                    $('#id_image_id').html(ids);
                    $('#id_image_id').removeAttr('disabled');
                } else {
                    $('#id_image_id').attr('disabled', 'disabled');
                    $('#id_image_id').html("<option>Choose cloud type first</option>");
                }
            });
    }
    function get_placements() {
        $('#id_placement').attr('disabled', 'disabled');
        $('#id_placement').html("<option>Fetching data...</option>");
        var jqxhr = $.post("{% url get_placements %}",
            {'cluster_name': $('#id_cluster_name').val(),
             'cloud_id': $('#id_cloud').val(),
             'a_key': $('#id_access_key').val(),
             's_key': $('#id_secret_key').val(),
             'instance_type': $('#id_instance_type').val(),
             csrfmiddlewaretoken: csrf_token})
            .success(function(data) {
                if (data.placements.length > 0) {
                    var placements = '';
                    for (var i=0; i<data.placements.length; i++) {
                        placements += '<option value="' + data.placements[i] + '">'
                            + data.placements[i] + "</option>";
                    }
                    $('#id_placement').html(placements);
                    $('#id_placement').removeAttr('disabled');
                } else if (data.error) {
                    $('#id_placement').attr('disabled', 'disabled');
                    $('#id_placement').html("<option>" + data.error + "</option>");
                } else {
                    $('#id_placement').attr('disabled', 'disabled');
                    $('#id_placement').html("<option>Click refresh to update</option>");
                }
            })
            .error(function(data){
                $('#id_placement').attr('disabled', 'disabled');
                $('#id_placement').html("<option>" + data.error + "</option>");
            });
    }
    function get_clusters() {
      // When credential entry is complete, submit to get info about existing
      // clusters and populate ``#id_cluster_name`` field, converting it into
      // a ``select2`` type field
      $("#id_access_key, #id_secret_key").bind("paste input propertychange", function(){
          s_key_el = $("#id_secret_key");
          a_key_el = $("#id_access_key");
          c_name_el = $('#id_cluster_name');
          if ((s_key_el.val().length === 40 || s_key_el.val().length === 36) && (a_key_el.val().length === 20 || a_key_el.val().length === 32)){
              c_name_el.attr('disabled', 'disabled');
              c_name_el.attr('value', "Fetching data... please wait");
              // Get info about existing clusters and update fields
              var jqxhr = $.post("{% url get_clusters %}",
                  {'cloud_id': $('#id_cloud').val(),
                   'a_key': a_key_el.val(),
                   's_key': s_key_el.val(),
                   csrfmiddlewaretoken: csrf_token})
                  .success(function(data) {
                    var clusters = Array();
                    if (data.length > 0) {
                      for (var i=0; i<data.length; i++) {
                        clusters.push({'id': data[i].cluster_name,
                          'text': data[i].cluster_name});
                      }
                    }
                    c_name_el.removeAttr('disabled');
                    var options = { width: "resolve",
                        closeOnSelect: !c_name_el.is("[MULTIPLE]"),
                        createSearchChoice: function(term) {
                            return {
                                id: term,
                                text: term + ' (new)'
                            };
                        },
                        data: clusters
                      };
                    return c_name_el.select2(options);
                  })
                  .error(function(data){
                    // If anything goes wrong (also see #abort_clusters_fetch),
                    // allow the user to provide a cluster name
                    c_name_el.removeAttr('disabled');
                    c_name_el.attr("value", "Enter any name you like");
                  });
              // Fetching clusters can take a while so allow a user to abort
              // the request (note that this does not cancel the request on the
              // server size).
              $("#abort_clusters_fetch").click(function(){
                jqxhr.abort();
              });
          }
      });
    }
    $(document).ready(function() {
        // Along with this, must add a macthing csrf_token in the body
        csrf_token = $('#csrf_token >div >input').attr("value");

        // Get instance types for the selected cloud on page load
        // This also keeps the instance types selected after a submission
        // of the form with errors
        get_dynamic_fields($("#id_cloud option:selected").val());

        // Get cluster info on form fill
        get_clusters()

        // Toggle advanced startup options
        $('#hide_advanced_startup_options').click(function(event){
            event.preventDefault();
            $('.advanced_startup_options').hide();
            $('#hide_advanced_startup_options').hide();
            $('#show_advanced_startup_options').show();
        });
        $('#show_advanced_startup_options').click(function(event){
            event.preventDefault();
            $('.advanced_startup_options').show();
            $('#hide_advanced_startup_options').show();
            $('#show_advanced_startup_options').hide();
        });
        $(".refresh_link").click(function(event){
            event.preventDefault();
        });
        $("input,select,textarea").addClass("input-xlarge");

        // Add a tooltip to #abort_clusters_fetch
        $('#abort_clusters_fetch').tooltip({"placement": "right",
          'title': 'Abort cluster fetch request'});

        // Handle form submission
        $('#start_btn').button();
        $('#start_btn').click(function() {
          $(this).button('loading');
        });
    });
  </script>
{% endblock %}
{% block content %}
    <div class="page-header">
      <h2><small>
        Easily launch <a href="http://cloudbiolinux.org">CloudBioLinux</a>,
        <a href="http://usecloudman.org">CloudMan</a> and
        <a href="http://wiki.g2.bx.psu.edu/">Galaxy</a>
        platforms on Cloud Computing resources (including
        <a href="http://aws.amazon.com/">Amazon Web Services</a>).
      </small></h2>
    </div>
{% if form.non_field_errors|length > 0 %}
  <div class="alert alert-error">Cloud connection problem: <br/>
    {{ form.non_field_errors }}
  </div>
{% endif %}

<form action="/launch" method="post" class="form-horizontal">
  {% csrf_token %}
  {% for field in form %}
    {% if not field.field.required %}
       <span class="advanced_startup_options" style="display:none">
    {% endif %}
      <div class="control-group{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
        <label class="control-label"{% if field.auto_id and input_type != "multicheckbox" and input_type != "radioset" %} for="{{ field.auto_id }}"{% endif %}>{{ field.label }}
        </label>
        <div class="controls{% if float %} controls-row{% endif %}">
          {{ field }}
          {% if field.label == 'Placement' %}
            <a class="refresh_link" href="#" onClick="get_placements()" style="padding-left: 5px; padding-right: 5px;"><i class="icon-refresh"></i></a>
          {% endif %}
          {% if field.label == 'Cluster name' %}
            <i id="abort_clusters_fetch" class="icon-remove" style="cursor: pointer"></i>
          {% endif %}
          {% include "bootstrap_toolkit/field_errors.html" with display="inline" %}
          {% autoescape off %}
            <br/><span class="help-inline"><span class="muted">{{ field.help_text }}</muted></span>
          {% endautoescape %}
           <!-- {% include "bootstrap_toolkit/field_help.html" with display="inline" %} -->
        </div>
      </div>
    {% if not field.field.required %}
      </span>
    {% endif %}
  {% endfor %}
  <h5>
    <a id="hide_advanced_startup_options" style="display: none;" href="#">
      <i class="icon-arrow-up"></i>
      Hide advanced options
    </a>
    <a id="show_advanced_startup_options" href="#">
      <i class="icon-arrow-down"></i>
      Show advanced startup options
    </a>
  </h5>
  <button id="start_btn" class="btn btn-large btn-primary" data-loading-text="Starting..." type="submit">
    Start an instance
  </button>
</form>

<footer class="well">
<p>
This website is an open service developed by the
<a href="http://cloudbiolinux.org">CloudBioLinux</a> and
<a href="http://usecloudman.org">CloudMan</a>
communities. The goal is to make it easy to get started doing
scalable biological analysis on cloud resources. See
<a href="http://youtu.be/AKu_CbbgEj0">this video</a> on how to
get started or
<a href="http://bcbio.wordpress.com/2011/11/29/making-next-generation-sequencing-analysis-pipelines-easier-with-biocloudcentral-and-galaxy-integration/">this guide</a>
for a detailed usage example when using the Amazon cloud. The
<a href="https://github.com/chapmanb/biocloudcentral">open source code</a>
is available on GitHub allowing you to also run this service locally.
</p>
<p>
    This site can be used for any of the available clouds.
    Note that you must have appropriate credentials for the
    chosen cloud. Provided credentials are not stored anywhere on this site
    and are used only to make the initial request to launch the desired instance.
    If a given cloud is not available in the list and you would like to see it
    there, please <a href="mailto:cloudbiolinux@googlegroups.com">contact us</a>.
</p>
<p>
Launching servers on the Amazon cloud will incur
<a href="http://aws.amazon.com/ec2/#pricing">usage fees</a>
from Amazon for their resources. By using this service you acknowledge your
sole responsibility for any costs accrued.
</p>
<div id="csrf_token" style='display:none'>{% csrf_token %}</div>
</div>
{% endblock %}
