<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/monitor.css" />
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script>
    function update_instance_state() {
        $.get("{% url inst_state %}",
            function(data) {
                $('#inst_state').html(data.instance_state);
                if (data.instance_state != 'running') {
                    window.setTimeout(function(){update_instance_state()}, 5000);
                } else {
                  $('#public_dns').html(data.public_dns);
                  $('#cloud_url').html('<a href="http://' +
                     data.public_dns + '/cloud" target="_blank">' +
                     data.public_dns + '</a>');
                }
            });
    }
    $(document).ready(function() {
        update_instance_state();
    });
  </script>
  <title>BioCloudCentral</title>
</head>

<div class="banner">
  <h2 class="banner">BioCloudCentral</h2>
</div>

<div class="info">
Congratulations, your Amazon EC2 instance is launching.
Amazon is now charging you per hour for your new machine.
Please use the
<a href="https://console.aws.amazon.com/ec2/" target="_blank">EC2 console</a>
to monitor the status while working, and to terminate
when finished.
</div>

<table class="awstable">
 <tr><td>Instance state</td>
     <td><span id="inst_state">Not available</span></td>
 </tr>
 <tr><td>Public IP</td>
     <td><span id="cloud_url">
            <a href="http://{{ request.session.ec2data.public_dns }}/cloud"
               target="_blank">{{ request.session.ec2data.public_dns }}</a></span>
     </td>
 </tr>
 <tr><td>SSH and FreeNX access</td>
     <td>ssh ubuntu@<span id="public_dns">{{ request.session.ec2data.public_dns }}</span><br/>
         (Use password from the entry form)</td>
 </tr>
 <tr><td>Instance ID</td>
     <td>{{ request.session.ec2data.instance_id }}</td>
 </tr>
 <tr><td>Security group</td>
     <td>{{ request.session.ec2data.sg_name }}</td>
 </tr>
 <tr><td>Key pair</td>
     <td>{{ request.session.ec2data.kp_name }}</td>
 </tr>
 <tr><td>Access credentials</td>
     <td>{% if use_iam %} 
           Created new IAM access credentials.
         {% else %}
           Using the provided credentials.
         {% endif %}
     </td>
 </tr>
</table>
 <a class="button" href="{% url ud %}">Download user-data</a>
    to re-start this cluster later, directly from the EC2 console.
