{% extends "base.html" %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
  <script src="{{ STATIC_URL }}js/jquery.stopwatch.js"></script>
  <script src="{{ STATIC_URL }}js/jintervals.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css">
      .pwd_sh_link {
        cursor: pointer;
        text-decoration: underline;
      }
      #table_additional_information {
        display: none;
      }
      .table th {
        width: 35%;
      }
      #copy-ip.copy-ip-hover {
        color: #08c;
        background-color: #cccccc \9;
      }
      #launch-issue {
        display: none;
      }

      .progress {
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #f7f7f7;
        background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
        background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
        background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
        background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
        background-repeat: repeat-x;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      }

      .progress .bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #0e90d2;
        background-image: -moz-linear-gradient(top, #149bdf, #0480be);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
        background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
        background-image: -o-linear-gradient(top, #149bdf, #0480be);
        background-image: linear-gradient(to bottom, #149bdf, #0480be);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
           -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: width 0.6s ease;
           -moz-transition: width 0.6s ease;
             -o-transition: width 0.6s ease;
                transition: width 0.6s ease;
      }

      .progress .bar + .bar {
        -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
           -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
                box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      }

      .progress-striped .bar {
        background-color: #149bdf;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        -webkit-background-size: 40px 40px;
           -moz-background-size: 40px 40px;
             -o-background-size: 40px 40px;
                background-size: 40px 40px;
      }

      .progress.active .bar {
        -webkit-animation: progress-bar-stripes 2s linear infinite;
           -moz-animation: progress-bar-stripes 2s linear infinite;
            -ms-animation: progress-bar-stripes 2s linear infinite;
             -o-animation: progress-bar-stripes 2s linear infinite;
                animation: progress-bar-stripes 2s linear infinite;
      }

      .progress-danger .bar,
      .progress .bar-danger {
        background-color: #dd514c;
        background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
        background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
        background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
        background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
      }

      .progress-danger.progress-striped .bar,
      .progress-striped .bar-danger {
        background-color: #ee5f5b;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      }

      .progress-success .bar,
      .progress .bar-success {
        background-color: #5eb95e;
        background-image: -moz-linear-gradient(top, #62c462, #57a957);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
        background-image: -webkit-linear-gradient(top, #62c462, #57a957);
        background-image: -o-linear-gradient(top, #62c462, #57a957);
        background-image: linear-gradient(to bottom, #62c462, #57a957);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
      }

      .progress-success.progress-striped .bar,
      .progress-striped .bar-success {
        background-color: #62c462;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      }
  </style>
  <script>

    // checkin requesting ....
    function update_launch_status(){
      // Get an update on task status
      $.ajax({
        url: "{% url launch_status %}",
        type: "post",
        data: {csrfmiddlewaretoken: csrf_token},
        success: function(data){
          update_progress_bar("requesting");
          if (data.error) {
            $('#launch-issue-text').text(data.error);
            $('#launch-issue').show();
            $('#ttp').stopwatch().stopwatch('stop');
            $('#cloud_url').text("");
            update_progress_bar("error");
          } else if (data.ready == true) {
            $('#instance_id').html(data.instance_id);
            $('#security_group').html(data.sg_name);
            $('#key_pair').html(data.kp_name);
            $('#image_id').html(data.image_id);
            // Redirect to monitor page
            update_instance_state('', 'pending');  // Set state to pending right away
          } else {
            // Update #starting_updates to give the user an indication
            // things are happening
            // The task is not ready yet, so keep polling
            window.setTimeout(function(){update_launch_status(data)}, 5000);
          }
        }
      });
    }

    function update_ui(data) {
        // Depending on instance state, update appropriate UI elements
        update_progress_bar(data.instance_state);

        if (data.error != '') {
          data.instance_state = 'error';
        }

        if (data.instance_state == 'running') {
            $('#inst_state').html("Ready to use - click the IP below to access");
        }
        else if (data.instance_state == 'error') {
            $('#inst_state').html(data.instance_state +
              "<i class='icon-bell'></i>");
        }
        else if (data.instance_state != '') {
            $('#inst_state').html(data.instance_state +
                " <img src='{{ STATIC_URL}}images/spinner.gif'/>");
        }
        else {
            $('#inst_state').html("Not available");
        }

        if (data.instance_state != 'running') {
          // If an instance is not ready in 6 minutes, inform the user
          // that there may be an issue.
          if ($('#ttp').stopwatch().stopwatch('getTime') > 360000) {
            txt = ("<b>Hmm, this seems to be taking longer  " +
                   "than usual.</b> It may be best if you " +
                   "checked on that instance. ");
            if (data.public_ip) {
              txt += "We have the instance IP address below.";
              $('#cloud_url').html('<a href="http://' +
                 data.public_ip + '/cloud" target="_blank">' +
                 data.public_ip + '</a>');
              $('#copy-ip').attr("data-clipboard-text", data.public_ip);
              $('#copy-ip').show();
            } else {
              txt += ("I am afraid we have no more information but we will " +
                      "keep checking on this instance.");
            }
            $('#launch-issue-text').html(txt);
            $('#launch-issue').show();
          }
          // Get an update on the instance state every 5 seconds
          window.setTimeout(function(){update_instance_state(data.task_id, data.instance_state)}, 5000);
        } else {
          $('#ssh_public_ip').html(data.public_ip);
          $('#nx_public_ip').html(data.public_ip);
          $('#placement').html(data.placement);
          $('#cloud_url').html('<a href="http://' +
             data.public_ip + '/cloud" target="_blank">' +
             data.public_ip + '</a>');
          $('#copy-ip').attr("data-clipboard-text", data.public_ip);
          $('#copy-ip').show();
          $('#ttp').stopwatch().stopwatch('stop');
          $('#video_link_cont').html("");
          $('#launch-issue').hide();
        }
    }
    function update_instance_state(task_id, instance_state) {
        // Keep polling the server for instance state
        $.ajax({
            url: "{% url inst_state %}",
            type: "post",
            data: {'task_id': task_id,
                   'instance_state': instance_state,
                   csrfmiddlewaretoken: csrf_token},
            }).done(function(data) {
                update_ui(data);
            }).fail(function(data, textStatus){
                if(textStatus == 'timeout') {
                  // Instance is probably alive but the web server not up yet
                  // so keep checking
                  window.setTimeout(function(){update_instance_state(task_id, instance_state)}, 5000);
                } //else {
                    //alert("Failure! Check the cloud console.");
                //}
            });
    }

    function update_progress_bar (state) {
      // body...
      var states = ["requesting", "pending", "booting", "running", "error"];
      var colors = ['gray', '', 'green', '#dd1c15'];
      var images = ['', 'none'];
      var curStateColor = [];
      var curImage = [];

      if (state==states[0])
        {
          curStateColor = [1, 0, 0, 0],
          curImage = [0, 1, 1, 1]
        }

      else if (state==states[1])
        {
          curStateColor = [2, 1, 0, 0],
          curImage = [1, 0, 1, 1]
        }

      else if (state==states[2])
        {
          curStateColor = [2, 2, 1, 0],
          curImage = [1, 1, 0, 1]
        }

      else if (state==states[3])
        {
          curStateColor = [2, 2, 2, 2],
          curImage = [1, 1, 1, 1]
          //show table with additional information
          $('#table_additional_information').show('slow');
        }
      else if (state==states[4]) {
          curStateColor = [3, 3, 3, 3],
          curImage = [1, 1, 1, 1]
        }
      else{
        // TODO
      }

      $('#requesting_bar').css({
        'background-color': colors[curStateColor[0]],
        'background-image': images[curImage[0]]
      });

      $('#pending_bar').css({
        'background-color': colors[curStateColor[1]],
        'background-image': images[curImage[1]]
      });

      $('#booting_bar').css({
        'background-color': colors[curStateColor[2]],
        'background-image': images[curImage[2]]
      });

      $('#ready_bar').css({
        'background-color': colors[curStateColor[3]],
        'background-image': images[curImage[3]]
      });

    }

    $(document).ready(function() {

        // Along with this, must add a macthing csrf_token in the body
        csrf_token = $('#csrf_token >div >input').attr("value");

        update_launch_status();

        // update_instance_state('', 'pending');  // Set state to pending right away
        $('#ttp').stopwatch({format: '{Minutes} and {seconds}'}).stopwatch('start');
        $("a[rel^='prettyPhoto']").prettyPhoto({
            default_width: 640,
            default_height: 480,
            social_tools: false,
        }).tooltip({
            placement: "bottom",
        });

        // Toggle password text
        $(".pwd").hide();
        $(".pwd_sh_link").click(function(e){
            if ($(".pwd").is(':visible')) {
                $(".pwd").hide();
                $(".pwd_sh_link").html("show");
            } else {
                $(".pwd").show();
                $(".pwd_sh_link").html("hide");
            }
        });
    });
  </script>

{% endblock %}
{% block content %}

<div class="page-header">
    <span class="lead text-success">
    Congratulations, your scalable analysis platform on the
    {{ request.session.ec2data.cloud_name }} cloud is launching!</span>
    <p>
        The process of launching an instance of the platform takes a few minutes.
        Once the instance and the necessary services are running, a link to your
        server will be shown (in <i>Server IP address</i> field). To manage
        your newly created cluster, please use the
        <a href="http://cloudman.irb.hr" target="_blank">CloudMan</a> console
        at the shown link.
    </p>
    {% if request.session.ec2data.cloud_type == 'ec2' %}
      <p>
        Amazon is now <a href="http://aws.amazon.com/ec2/pricing/" target="_blank">
        charging you per hour</a> for your new server. You may use the
        <a href="https://console.aws.amazon.com/ec2/" target="_blank">EC2 console</a>
        to monitor the status of your instance.
      </p>
    {% endif %}
    <p>
      For login, use <i>ubuntu</i> username and the password you provided on
      the previous page (also available in the table below once the server
      becomes ready).
    </p>
</div>

<div id="launch-issue" class="alert alert-danger" role="alert">
  <div id="launch-issue-text"></div>
  <div class="help-block">
    <b>Note</b> that this may be a terminal error which you many need to correct
    first and then attempt the start process again.
  </div>
</div>

<div class="row">
  <table class="table table-bordered table-striped span7">

   <tr>
      <th>From zero to an analysis platform in</th>
      <td><span id="ttp">&nbsp;</span></td>
   </tr>
   <tr>
      <th>Server state</th>
      <td>
        <div class="progress progress-striped active" style="margin:0px">
          <div id="requesting_bar" class="bar" style="width: 25%;">
            <span>1. Requesting</span>
          </div>
          <div id="pending_bar" class="bar" style="width: 25%;">
            <span>2. Pending</span>
          </div>
          <div id="booting_bar" class="bar" style="width: 25%;">
            <span>3. Booting</span>
          </div>
          <div id="ready_bar" class="bar" style="width: 25%;">
            <span>4. Ready</span>
          </div>
        </div>
      </td>
   </tr>
   <tr>
      <th>Server IP address (CloudMan console)</th>
      <td>
      <span id="cloud_url"><i>Please wait</i></span>
      <button id="copy-ip" class="pull-right btn btn-mini action-button" data-clipboard-text="127.0.0.1"  type="button" style="display: none" title="Copy IP address into your clipboard" data-copied-hint="Copied!">
        Copy IP
      </button>
      </td>
   </tr>
  </table>
</div>

<div class="row">
  <table id="table_additional_information" class="table table-bordered table-striped span7">
    <thead>
      <tr>
        <th colspan=2>
          Additional server information
        </th>
      </tr>
    </thead>
    <tbody>
     <tr><th>For command line SSH access use</th>
         <td>ssh ubuntu@<span id="ssh_public_ip">{{ request.session.ec2data.public_ip }}</span><br/>
             (Use key pair or password from the entry form;
             <span class="pwd_sh_link">show</span><span class="pwd">: {{ request.session.ec2data.password }}</span>)</td>
     </tr>
     {% comment %}
     <tr><td>For FreeNX remote desktop access</td>
         <td>
             User: ubuntu <br/>
             Password: from the entry form (<span class="pwd_sh_link">show</span><span class="pwd">: {{ request.session.ec2data.password }}</span>)<br/>
             Host: <span id="nx_public_ip">{{ request.session.ec2data.public_ip }}</span><br/>
             Window Manager: GNOME<br/>
         </td>
     </tr>
     {% endcomment %}
     <tr><th>Cluster name</th>
         <td>{{ request.session.ec2data.cluster_name }}</td>
     </tr>
     <tr><th>Instance ID</th>
         <!--<td>{{ request.session.ec2data.instance_id }}</td>-->
         <td id="instance_id">Not yet available</td>
     </tr>
     <tr><th>Image ID (AMI)</th>
         <!-- <td>{{ request.session.ec2data.image_id }}</td> -->
         <td id="image_id">Not yet available</td>
     </tr>
     <tr><th>Security group</th>
         <!--<td id="security_group">{{ request.session.ec2data.sg_name }}</td> -->
         <td id="security_group">Not yet available</td>
     </tr>
     <tr><th>Key pair</th>
         <td id="key_pair">
             {# Show the link to download key pair material only if a new key pair was created #}
             <!--{% ifnotequal request.session.ec2data.kp_material None %}
                <a href="{% url kp %}">{{ request.session.ec2data.kp_name }}</a>
             {% else %}
                {{ request.session.ec2data.kp_name }}
             {% endifnotequal %} -->
             Not yet available
         </td>
     </tr>
     <tr><th>Placement (zone)</th>
         <td id="placement">Not (yet) available</td>
     </tr>
     </tbody>
    </table>

</div>
<div class="well">
    User data contains information necessary to recreate this particular cloud
    cluster. After terminating the cluster, unless deleted, you can
    easily recreate it from this website by using the same access credentials
    and cluster name. If you would like to recreate the cluster manually from
    the {{ request.session.ec2data.cloud_name }} cloud's web console or directly
    via the cloud's API, you will need the user-data in the downloaded format.
    See <a href="http://wiki.g2.bx.psu.edu/Admin/Cloud#Detailed_steps" target="_blank">
    this page</a> for more information.
    <div style="padding-top: 10px">
      <a class="btn btn-success" href="{% url ud %}">Download user-data</a>
    </div>
</div>

<script src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>
<script src="{{ STATIC_URL }}js/ZeroMain.js"></script>
<div id="csrf_token" style='display:none'>{% csrf_token %}</div>
{% endblock %}
