<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/monitor.css" />
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.stopwatch.js"></script>
  <script src="{{ STATIC_URL }}js/jintervals.js"></script>
  <script>
    function update_instance_state() {
        $.get("{% url inst_state %}",
            function(data) {
                console.log(data.instance_state);
                if (data.instance_state != '') {
                    $('#inst_state').html(data.instance_state);
                }
                if (data.instance_state != 'running') {
                    window.setTimeout(function(){update_instance_state()}, 5000);
                } else {
                  $('#ssh_public_dns').html(data.public_dns);
                  $('#nx_public_dns').html(data.public_dns);
                  $('#cloud_url').html('<a href="http://' +
                     data.public_dns + '/cloud" target="_blank">' +
                     data.public_dns + '</a>');
                  $('#ttp').stopwatch().stopwatch('stop');
                }
            });
    }
    $(document).ready(function() {
        update_instance_state();
        $('#ttp').stopwatch({format: '{Minutes} and {seconds}'}).stopwatch('start');
    });
  </script>
  <title>BioCloudCentral</title>
</head>

<div class="banner">
  <h2 class="banner">BioCloudCentral</h2>
</div>

<div class="info">
Congratulations, your scalable analysis platform on the
{{ request.session.ec2data.cloud_name }} cloud is launching!<br/>
{% if request.session.ec2data.cloud_type == 'ec2' %}
    Amazon is now <a href="http://aws.amazon.com/ec2/#pricing" target="_blank">
    charging you per hour</a> for your new machine. You may use the
    <a href="https://console.aws.amazon.com/ec2/" target="_blank">EC2 console</a>
    to monitor the status of your instance. Once the instance is running, to manage
    your platform, please use the CloudMan console.
{% endif %}
</div>

<table class="awstable">
 <tr><td>Instance state</td>
     <td><span id="inst_state">Not available</span></td>
 </tr>
 <tr><td>0 to an analysis platform in</td>
     <td><span id="ttp">&nbsp;</span></td>
 </tr>
 <tr><td>Public IP (CloudMan console)</td>
     <td><span id="cloud_url">Not available
            <a href="http://{{ request.session.ec2data.public_dns }}/cloud"
               target="_blank">{{ request.session.ec2data.public_dns }}</a></span>
     </td>
 </tr>
 <tr><td>SSH access</td>
     <td>ssh ubuntu@<span id="ssh_public_dns">{{ request.session.ec2data.public_dns }}</span><br/>
         (Use password from the entry form)</td>
 </tr>
 <tr><td>FreeNX access</td>
     <td>
         User: ubuntu <br/>
         Password: from the entry form<br/>
         Host: <span id="nx_public_dns">{{ request.session.ec2data.public_dns }}</span><br/>
         Window Manager: GNOME<br/>
     </td>
 </tr>
 <tr><td>Instance ID</td>
     <td>{{ request.session.ec2data.instance_id }}</td>
 </tr>
 <tr><td>Image ID (AMI)</td>
     <td>{{ request.session.ec2data.image_id }}</td>
 </tr>
 <tr><td>Security group</td>
     <td>{{ request.session.ec2data.sg_name }}</td>
 </tr>
 <tr><td>Key pair</td>
     <td>
         {# Show the link to download key pair material only if a new key pair was created #}
         {% ifnotequal request.session.ec2data.kp_material None %}
            <a href="{% url kp %}">{{ request.session.ec2data.kp_name }}</a>
         {% else %}
            {{ request.session.ec2data.kp_name }}
         {% endifnotequal %}
     </td>
 </tr>
</table>
<div class="note">
    <a class="button" href="{% url ud %}">Download user-data</a>
    enabling you to <a href="http://wiki.g2.bx.psu.edu/Admin/Cloud#Detailed_steps" target="_blank">
    re-start this platform</a> later, directly from the {{ request.session.ec2data.cloud_name }}
    cloud's web console or via its API.
</div>